<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Regular User Dashboard</title>
    <!-- <style>
      a {
        background-color: #82c3e6;
        display: block;
        text-decoration: none;
        color: #02263a;
        font-size: 2rem;
        align-items: center;
        padding: 10px;
        border-radius: 5px;
      }
      .hero {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #bbdcee;
      }
      .hero img {
        display: block;
        width: 8%;
      }
      .navbar {
        display: flex;
        gap: 20px;
      }
      h1 {
        text-align: center;
        font-size: 2rem;
      }
    </style> -->
  </head>
  <body>
    <%- include("../_header.ejs") %>

    <main>
      <h1>Hi, Person</h1>
    </main>
  </body>
</html>
