<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workout plans</title>
  </head>
  <body>
    <h1>
      Reach your fitness goals by choosing a meal plan according to your needs
    </h1>
    <section>
      <div>
        <h2>
          <% locals.workout_plans.forEach(workout_plan =>{%>
          <div>
            <h3><%= workout_plan.title %></h3>
            <p><%= workout_plan.description %></p>
            <p>
              Target: <%= workout_plan.target_goal %> <%= workout_plan.calories
              %> Calories
            </p>
          </div>

          <%})%>
        </h2>
      </div>
    </section>
  </body>
</html>
