<header class="hero">
  <a href="/"><img src="/images/fj_logo.png" alt="" /></a>

  <nav class="navbar">
    <%if (user && user.role === 'nutritionist'){%>
    <a href="/">Home</a>
    <!--     <a href="https:/wa.me/+254790472140">Contact Us</a> -->
    <a href="#profile">Profile</a>
    <a href="#workout">Premium</a>
    <a href="#nutrition">Create Meal Plans</a>
    <a href="#progress">Progress</a>
    <a href="/logout">Logout</a>
    <%} else if (user && user.role === 'instructor'){%>
    <a href="/">Home</a>
    <!--     <a href="https:/wa.me/+254790472140">Contact Us</a>
 -->
    <a href="#profile">Profile</a>
    <a href="#workout">Premium</a>
    <a href="#nutrition">Create Workout Plans</a>
    <a href="#progress">Progress</a>
    <a href="/logout">Logout</a>
    <%} else if (user && user.role === 'regular'){%>
    <a href="/">Home</a>
    <!--     <a href="https:/wa.me/+254790472140">Contact Us</a>
 -->
    <a href="/regular/available_plans">Available Plans</a>
    <a href="/regular/saved_meal_plans">My Plans</a>
    <a href="#progress">My Progress</a>
    <a href="/regular/profile">Profile</a>
    <a href="/logout">Logout</a>
    <%} else if (user && user.role === 'admin'){%>
    <a href="/">Home</a>
    <!--     <a href="https:/wa.me/+254790472140">Contact Us</a>
 -->
    <a href="#workout">Workout Plans</a>
    <a href="#nutrition">Nutrition Plans</a>
    <a href="#progress">Progress</a>
    <a href="/regular/profile">Profile</a>
    <a href="/logout">Logout</a>
    <%} else{%>
    <a href="/">Home</a>
    <a href="https:/wa.me/+254790472140">Contact Us</a>
    <a href="#profile">Profile</a>
    <a href="#workout">Workout Plans</a>
    <a href="#nutrition">Nutrition Plans</a>
    <a href="#progress">Progress</a>
    <a href="/logout">Logout</a>
    <%}%>
  </nav>
</header>
<style>
  .navbar a {
    display: block;
    text-decoration: none;
    color: #c9d9e1;
    font-size: 18px;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
  }
  .navbar > a:hover {
    background-color: #f7f7f796;
    color: #02263a;
  }
  .hero {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: #076396;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  .hero img {
    display: block;
    width: 6%;
    background-color: #a2d0e8;
    border-radius: 5px;
  }
  .navbar {
    display: flex;
    gap: 20px;
  }
</style>
