<header class="hero">
  <img src="/images/fj_logo.png" alt="" />

  <nav class="navbar">
    <a href="#">Home</a>
    <a href="#profile">Profile</a>
    <a href="#workout">Workout Plans</a>
    <a href="#nutrition">Nutrition Plans</a>
    <a href="#progress">Progress</a>
  </nav>
</header>
<style>
  .navbar a {
    display: block;
    text-decoration: none;
    color: #02263a;
    font-size: 15px;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
  }
  .navbar > a:hover {
    background-color: #f7f7f796;
  }
  .hero {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: #076396;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  .hero img {
    display: block;
    width: 6%;
    background-color: #a2d0e8;
    border-radius: 5px;
  }
  .navbar {
    display: flex;
    gap: 20px;
  }
</style>
