<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fitjourney</title>
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <header class="hero">
      <img src="/images/fj_logo.png" alt="fj_logo" width="5%" />
    </header>
    <main class="main">
      <div class="intro_text">
        <h3>Track your fitness journey with FitJourney</h3>
        <p>Log your workouts, meals, and progress.</p>
      </div>
      <section class="features">
        <div class="feature">
          <h4>Workout Tracking</h4>
          <p>Log your workouts and track your progress.</p>
        </div>
        <div class="feature">
          <h4>Mean Tracking</h4>
          <p>Log your workouts and track your progress.</p>
        </div>
        <div class="feature">
          <h4>Trainer account</h4>
          <p>Log your workouts and track your progress.</p>
        </div>
        <div class="feature">
          <h4>Nutritionist account</h4>
          <p>Log your workouts and track your progress.</p>
        </div>
        <!--  <div class="feature">
          <h4>Set your goals</h4>
          <p>Log your workouts and track your progress.</p>
        </div>
        <div class="feature">
          <h4>Set your goals</h4>
          <p>Log your workouts and track your progress.</p>
        </div>
        <div class="feature">
          <h4>Set your goals</h4>
          <p>Log your workouts and track your progress.</p>
        </div>
        <div class="feature">
          <h4>Set your goals</h4>
          <p>Log your workouts and track your progress.</p>
        </div> -->
      </section>

      <a href="/signup" class="get_started">Get Started</a>
    </main>
  </body>
</html>
