<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fitjourney</title>
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <!--  <header class="hero">
      <img src="/images/fj_logo.png" alt="fj_logo" width="5%" />
    </header> -->
    <main class="main">
      <div class="text_and_logo">
        <img class="logo" src="/images/fj_logo.png" alt="fj_logo" />
        <p class="text">
          <span>Fitjourney helps you keep fit.</span> <br />
          <span>You can also help others keep fit with your expertise</span>
        </p>
      </div>
      <section class="features">
        <div class="feature">
          <h4>Workout Tracking</h4>
          <p>Log your workouts and track your progress.</p>
        </div>
        <div class="feature">
          <h4>Meal Tracking</h4>
          <p>Log your workouts and track your progress.</p>
        </div>
        <div class="feature">
          <h4>Trainer account</h4>
          <p>Register as a trainer, post workouts and get clients</p>
        </div>
        <div class="feature">
          <h4>Nutritionist account</h4>
          <p>Register as a Nutritionist, post mealplans and get clients</p>
        </div>
      </section>

      <div class="get_started_container">
        <a href="/signup" class="get_started">Get Started</a>
        <a href="/login" class="get_started">Login</a>
      </div>
    </main>
  </body>
</html>
