<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign UP</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <div class="signup">
      <p>Login</p>
      <form action="/login" method="POST">
        <div>
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Enter Username"
          />
        </div>

        <div>
          <input
            type="text"
            name="password_hash"
            id="password"
            placeholder="Password"
            required
          />
        </div>
        <button type="submit">Sign In</button>
        <p>Don't have an account?<a href="/signup"> Sign Up</a></p>
      </form>
    </div>
  </body>
</html>
