<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign UP</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <div class="signup">
      <p>Create Account</p>
      <form action="http://localhost:9000/signup" method="post">
        <div>
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Enter Username"
            required
          />
        </div>
        <div>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter Email"
          />
        </div>

        <div>
          <input
            type="text"
            name="password_hash"
            id="password"
            placeholder="Set Password"
            required
          />
        </div>
        <!--    <select name="roles" id="role">
          <option value="" disabled selected>Select Account Type</option>
          <option value="user">regular</option>
          <option value="trainer">Trainer</option>
          <option value="nutritionist">Nutritionist</option>
        </select> -->
        <button type="submit">Sign Up</button>

        <p>Already have Account?<a href="/login"> Login</a></p>
      </form>
    </div>
  </body>
</html>
